@{
    ViewBag.Title = "adminLoginLayout";
}

<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Harmony - Free responsive Bootstrap admin template by Themestruck.com</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="~/Content/AdminLogin/font-awesome.min.css">
    <!-- Sandstone Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/AdminLogin/bootstrap.min.css">
    <!-- Bootstrap Datatables -->
    <link rel="stylesheet" href="~/Content/AdminLogin/dataTables.bootstrap.min.css">
    <!-- Bootstrap social button library -->
    <link rel="stylesheet" href="~/Content/AdminLogin/bootstrap-social.css">
    <!-- Bootstrap select -->
    <link rel="stylesheet" href="~/Content/AdminLogin/bootstrap-select.css">
    <!-- Bootstrap file input -->
    <link rel="stylesheet" href="~/Content/AdminLogin/fileinput.min.css">
    <!-- Awesome Bootstrap checkbox -->
    <link rel="stylesheet" href="~/Content/AdminLogin/awesome-bootstrap-checkbox.css">
    <!-- Admin Stye -->
    <link rel="stylesheet" href="~/Content/AdminLogin/style.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
@RenderBody()
</html>